body {
    background: #d0f4ff;
    padding: 0.5em;
    font-family: Arial, sans-serif;
}

header,
nav,
section,
footer {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 1em;
    width: 960px;
}

header {
    border-radius: 1em 1em 0 0;
    height: 108px;
    background-image: url('../images/logga.png');
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 0em;
    padding-top:0em;
}

header,
footer {
    background-color: #e2e2e2;
}

header a{
    display:block;
    height:108px;
    width:960px;
}

.message {
    border: 1px solid;
    margin-bottom: 1em;
    padding: 0.5em;
}

.info {
    background-color: #6cfe5f; 
    border-color: #0c8801;
}

.warning {
    background-color: #fdf954; 
    border-color: #e2ac00; 
}

.error {
    background-color: #fd5d4b; 
    border-color: #de1600;
}

nav {
    background: -webkit-linear-gradient(top, #dbdbdb, #bcbcbc);
    background-image: -moz-linear-gradient(top, #dbdbdb, #bcbcbc);
    border-width: 0 1px 1px;
    font-size: 0.75em;
    padding-left: 1.3em;
    padding-right: 1.3em;
}

nav ul,
.actions {
    margin: 0;
    padding: 0;
}

nav li,
.actions li{
    display: inline;
    margin-right: 0.5em;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav a:hover{
    background: -webkit-linear-gradient(top, #bebebe, #848484);
    background-image: -moz-linear-gradient(top, #bebebe, #848484);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#main-menu {
    float: left;
}

#user-menu {
    float: right;
}

#user-menu li {
    margin-left: 0.5em;
    margin-right: 0;
}

section {
    border-width: 0 1px;
}

footer {
    border-radius: 0 0 1em 1em;
}

a:link,
a:visited {
    color: #294778;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:active {
    color: #000;
    text-decoration: underline;
}

.actions a:link,
.actions a:visited {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    padding: 0.5em;
}

.actions a:hover,
.actions a:focus {
    background: #d0f4ff;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

form #ingredients {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-top: 1em;
}

form .ingredient-field {
    float: left;
    max-width: 30%;
}

h1 {
    margin-top: 0;
}

form .ingredient {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.textform, textarea {
    padding: 5px;
    border: solid 1px #b0b0b0;
    outline: 0;
    font: normal 0.75em Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.12) 0px 0px 8px;
    margin-bottom: 1em;
    margin-right: 1em;
}

textarea {
    min-width: 400px;
    max-width: 600px;
    height: 150px;
    line-height: 150%;
}

.textform:hover, textarea:hover,
.textform:focus, textarea:focus {
    border-color: #C9C9C9;
}

label {
    color: #000000;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.5em;  
}

.ingredient-field label {
    display: inline;
    margin-left: 0;
    margin-right: 0.4em;
    text-align: right;      
}

.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em 0.5em 0.5em 0;
    font: bold 0.75em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    -webkit-border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    background-color: #ddd;        
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}

.searchform {
    float: right;
    margin-top: 45px;
}

.searchinput {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 150px;
}

.formerror {
    font-size: 0.75em;
    color: #CC0000;
}